<p>projects works!</p>
<section class="content">
    <div class="content-block">
        @for (breadscrum of breadscrums; track breadscrums) {
            <div class="block-header">
                <!-- breadcrumb -->
                <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.item" [active_item]="breadscrum.active">
                </app-breadcrumb>
            </div>
        }
        <div class="row-clearfix">
            <div class="card-search">
                <div class="card col-md-12">
                    <div class="body">
                        <form [formGroup]="projectFormSearchFilter" class="row col-md-12 col-lg-12">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mb-3">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Nombre del proyecto</mat-label>
                                    <input matInput formControlName="name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mb-3 d-flex align-items-center">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Estado</mat-label>
                                    <input matInput formControlName="status">
                                </mat-form-field>
                            </div>
                        </form>

                        <div class="materialTableHeader">
                            <div class="left">
                                <ul class="header-button-left- ms-0">
                                    <li class="tbl-title">
                                        <h2>Lista de proyectos</h2>
                                    </li>
                                </ul>
                            </div>
                            <div class="right">
                                <ul class="tbl-export-btn">
                                    <li>
                                        <button mat-flat-button color="primary" (click)="openModalCreateProject()">Crear proyecto</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource" class="w-100">
                                <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
                                
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Estado </th>
                                    <td mat-cell *matCellDef="let element"> {{ getStatusName(element.estado) }} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="startDate">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Fecha Inicio </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fecha_inicio | date}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="endDate">
                                    <th mat-header-cell *matHeaderCellDef width="15%"> Fecha Fin </th>
                                    <td mat-cell *matCellDef="let element"> {{element.fecha_fin | date}} </td>
                                </ng-container>
                                
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef width="10%"> Acciones </th>
                                    <td mat-cell *matCellDef="let element">

                                        <button mat-icon-button matTooltip="Ver detalles del proyecto" (click)="viewProject(element)">
                                            <mat-icon>visibility</mat-icon>
                                        </button>    
                                            
            
                                        <button mat-icon-button matTooltip="Editar proyecto" (click)="openModalUpdateProject(element)">
                                            <mat-icon> edit </mat-icon>
                                        </button>
                                        
                                        <button mat-icon-button matTooltip="Eliminar proyecto" (click)="deleteProject(element.id)">
                                            <mat-icon> delete </mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <div *ngIf="dataSource && dataSource.data && dataSource.data.length === 0" class="no-data-message">
                                No hay proyectos disponibles.
                            </div>

                            <mat-paginator [pageSize]="5" showFirstLastButtons [pageSizeOptions]="[5, 10, 15]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>